<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.min.css"/>
            <script src="../lib/angular/angular.min.js" type="text/javascript"></script>
            <script type="text/javascript">
                var app = angular.module("app", [])
                
                app.run(function ($templateCache){
                    $templateCache.put("zippy.html", 'Simple text in cache')
                })
                app.directive("zippy", function($templateCache){ 
                    
                    return{
                        restrict: "E",
                        transclude:true,
                        scope: {
                            title: "@"
                        },
                        templateUrl: $templateCache.get("zippy.html"),
                        link: function(scope){
                            scope.isContentVisible = false;
                            
                            scope.toggleContent = function() {
                                scope.isContentVisible = !scope.isContentVisible;
                            }
                        }
                    }
                })
            </script>
        <title>Template URL</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div ng-app="app">
            
            <input type="text" ng-model="model.title">
            <input type="text" ng-model="model.content">
            
            <zippy title="{{model.title}}">           
               {{model.content}}
            </zippy>
            
            
            <zippy title="Some Header">           
                <pre>
Some Hardcoded Content

This is the Content

This is the Content

This is the Content
                </pre>
            </zippy>
        </div>
    </body>
</html>