<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.min.css"/>
    <script src="../lib/angular/angular.min.js" type="text/javascript"></script>

    <script type="text/javascript">

        var app = angular.module("app", [])


        app.directive("myAccordian", function ($templateCache) {
            return{
                restrict: "E",
                transclude: true,
                scope: {
                    title: "@"
                },
//                 template: '<div> <h3 ng-click="toggleContent()">{{title}}</h3><div ng-show="isContentVisible" ng-transclude>Hello World</div></div>',
                template: $templateCache.get("zippy.html"),
                link: function (scope, element) {
                    scope.isContentVisible = false;
                    scope.toggleContent = function () {
                        scope.isContentVisible = !scope.isContentVisible;
                    }
                }
            }
        })
    </script>
    <title>Understanding Isolate Scope =</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div ng-app="app">

    <script type="text/ng-template" id="zippy.html">
        <div><h3 ng-click="toggleContent()">{{title}}</h3>

            <div ng-show="isContentVisible" ng-transclude>Hello World</div>
        </div>

    </script>


    <my-accordian title="Some Header">
                <pre>
Some Hardcoded Content
sdgaksadjglks
sgasdgsadkgjasgds
s
agsdgsaglksd
                </pre>
    </my-accordian>

    <my-accordian title="MyTitle">
                <pre>
ksdagjklsdagsdkjgsa
sdgg
sgdg
sdagasd sagsd sdg
                </pre>
    </my-accordian>


</div>
</body>
</html>